html, body {
  margin: 0;
  height: 100%; /* Ensure that the full height of the page is used */
  overflow: hidden; /* Optional: if you want to remove scrolling */
  background-color:black;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 80vh; /* This will make the container take up the full viewport height */
  margin: 0 auto;
  padding: 2em;
}

